version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - start-dev
      - --import-realm
    depends_on:
      - database
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL_HOST: database
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: ${KEYCLOAK_DATABASE}
      KC_DB_SCHEMA: public
      KC_DB_USERNAME: ${KEYCLOAK_DATABASE_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DATABASE_PASSWORD}
      KC_HEALTH_ENABLED: 'true'
      KC_METRICS_ENABLED: 'true'
      KC_HOSTNAME_STRICT: 'false'
      KC_HTTP_ENABLED: 'true'
      RABBITMQ_HOST: host.docker.internal
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      TV_EVENT_LISTENER_CLIENT_ID: tv-keycloak-event-listener
#    volumes:
#      - ./realm-tolkevarav-dev.json:/opt/keycloak/data/import/realm-tolkevarav-dev.json:ro

  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${KEYCLOAK_DATABASE}
      POSTGRES_USER: ${KEYCLOAK_DATABASE_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DATABASE_PASSWORD}

  nginx:
    image: nginx:latest
    depends_on:
      app:
        condition: service_started
    ports:
      - 8180:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf