# Default values for tv-sso.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  projectName: tv

keycloakx:
  nameOverride: sso
  image:
    registry: ghcr.io
    repository: "__IMAGE_REPOSITORY__" # Replaced during continuous delivery pipeline
    tag: "__IMAGE_TAG__" # Replaced during continuous delivery pipeline
    pullSecrets:
      - ghcr-read-only-secret

  ingress:
    enabled: true
    # TODO: Update configuration below after adopting Istio
    hostname: sso.dev.tolkevarav.eki.ee

  livenessProbe:
    httpGet:
      path: /health/live
      port: http
      scheme: HTTP
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 5

  readinessProbe:
    httpGet:
      path: /health/ready
      port: http
      scheme: HTTP
    initialDelaySeconds: 10
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1

  startupProbe:
    httpGet:
      path: /health
      port: http
      scheme: HTTP
    initialDelaySeconds: 15
    failureThreshold: 60
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1

  # TODO: Once Postgres operator is in use, use the operator's database as suggested by commented-out code below
#  postgresql.enabled: "false"
#  externalDatabase:
#    host: ""
#    port: ""
#    database: ""
#    user: ""
#    existingSecret: ""

